<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<title>VoteApp Homepage</title>
<script th:replace="fragments/header :: headerElement"></script>
	
</head>

<body>
<div th:replace="fragments/header :: header"></div>
	<div class="container">
		<div class="row" style="margin-top: 1.5em;">
			<div>
				<h1>Welcome to VoteApp</h1>
			</div>
		</div>
		<div class="row" style="margin-top: 1.5em;">
			<div >
				<p>VoteApp is a fully-functional customer feedback application where product owners can publish their 
					products and customers can request for features for the same.</p>
				<p>Other customers can view and comment for a particular feature to express their feedback.</p>
				<p>Only product or feature owner can edit details of their respective products/features.</p>	
			</div>
		</div>
	</div>
</body>
</html>